---
interface Stone {
  name: string;
  image: string;
  design: string;
}

export const neolithStones: Stone[] = [
  {
    name: "Artisan Silk",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/NEOLITH/Artisan_Silk.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/NEOLITH/Artisan_Silk_designs.png"
  },
  {
    name: "Black Obsession Silk",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/NEOLITH/Black_Obsession_Silk.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/NEOLITH/Black_Obsession_Silk_designs.png"
  },
  {
    name: "Rapolano Silk",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/NEOLITH/Rapolano_Silk.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/NEOLITH/Rapolano_Silk_designs.png"
  },
  {
    name: "White Sands Silk",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/NEOLITH/WhiteSands_Silk.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/NEOLITH/WhiteSands_Silk_designs.png"
  }
];

export const alteaStones: Stone[] = [
  {
    name: "Antracita Dark",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/ALTEA/Antracita_Dark.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/ALTEA/Antracita_Dark_designs.png"
  },
  {
    name: "Black Marquina",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/ALTEA/Black_Marquina.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/ALTEA/Black_Marquina_designs.png"
  },
  {
    name: "Calacatta Grey",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/ALTEA/Calacatta_Grey.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/ALTEA/Calacatta_Grey_designs.png"
  },
  {
    name: "Calacatta Royale",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/ALTEA/Calacatta_Royale.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/ALTEA/Calacatta_Royale_designs.png"
  },
  {
    name: "Cement Grey",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/ALTEA/Cement_Grey.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/ALTEA/Cement_Grey_designs.png"
  },
  {
    name: "Laurent Gold",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/ALTEA/Laurent_Gold.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/ALTEA/Laurent_Gold_designs.png"
  },
  {
    name: "Phantom Dark Grey",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/ALTEA/Phantom_Dark_Grey.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/ALTEA/Phantom_Dark_Grey_designs.png"
  },
  {
    name: "Pulpis Grey",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/ALTEA/Pulpis_Grey.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/ALTEA/Pulpis_Grey_designs.png"
  },
  {
    name: "Pure Black",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/ALTEA/Pure_Black.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/ALTEA/Pure_Black_designs.png"
  },
  {
    name: "Pure White",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/ALTEA/Pure_White.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/ALTEA/Pure_White_designs.png"
  },
  {
    name: "Snow River",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/ALTEA/Snow_River.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/ALTEA/Snow_River_designs.png"
  },
  {
    name: "Statuario",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/ALTEA/Statuario.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/ALTEA/Statuario_designs.png"
  }
];

export const dektonStones: Stone[] = [
  {
    name: "Aeris",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/DEKTON/Aeris.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/DEKTON/Aeris_designs.png"
  },
  {
    name: "Aura",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/DEKTON/Aura.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/DEKTON/Aura_designs.png"
  },
  {
    name: "Awake",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/DEKTON/Awake.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/DEKTON/Awake_designs.png"
  },
  {
    name: "Bergen",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/DEKTON/Bergen.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/DEKTON/Bergen_designs.png"
  },
  {
    name: "Ceppo",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/DEKTON/Ceppo.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/DEKTON/Ceppo_designs.png"
  },
  {
    name: "Danae",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/DEKTON/Danae.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/DEKTON/Danae_designs.png"
  },
  {
    name: "Domoos",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/DEKTON/Domoos.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/DEKTON/Domoos_designs.png"
  },
  {
    name: "Entzo",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/DEKTON/Entzo.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/DEKTON/Entzo_designs.png"
  },
  {
    name: "Eter",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/DEKTON/Eter.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/DEKTON/Eter_designs.png"
  },
  {
    name: "Halo",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/DEKTON/Halo.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/DEKTON/Halo_designs.png"
  },
  {
    name: "Kelya",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/DEKTON/Kelya.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/DEKTON/Kelya_designs.png"
  },
  {
    name: "Keon",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/DEKTON/Keon.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/DEKTON/Keon_designs.png"
  },
  {
    name: "Khalo",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/DEKTON/Khalo.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/DEKTON/Khalo_designs.png"
  },
  {
    name: "Kira",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/DEKTON/Kira.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/DEKTON/Kira_designs.png"
  },
  {
    name: "Laurent",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/DEKTON/Laurent.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/DEKTON/Laurent_designs.png"
  },
  {
    name: "Liquid Sky",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/DEKTON/Liquid_Sky.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/DEKTON/Liquid_Sky_designs.png"
  },
  {
    name: "Marina",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/DEKTON/Marina.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/DEKTON/Marina_designs.png"
  },
  {
    name: "Marmorio",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/DEKTON/Marmorio.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/DEKTON/Marmorio_designs.png"
  },
  {
    name: "Nacre",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/DEKTON/Nacre.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/DEKTON/Nacre_designs.png"
  },
  {
    name: "Natura",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/DEKTON/Natura.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/DEKTON/Natura_designs.png"
  },
  {
    name: "Soke",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/DEKTON/Soke.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/DEKTON/Soke_designs.png"
  },
  {
    name: "Somnia",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/DEKTON/Somnia.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/DEKTON/Somnia_designs.png"
  },
  {
    name: "Taga",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/DEKTON/Taga.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/DEKTON/Taga_designs.png"
  },
  {
    name: "Trance",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/DEKTON/Trance.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/DEKTON/Trance_designs.png"
  }
];

export const silestoneStones: Stone[] = [
  {
    name: "Brass Relish",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/SILESTONE/Brass_Relish.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/SILESTONE/Brass_Relish_designs.png"
  },
  {
    name: "Cala Blue",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/SILESTONE/Cala_Blue.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/SILESTONE/Cala_Blue_designs.png"
  },
  {
    name: "Cinder Craze",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/SILESTONE/Cinder_Craze.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/SILESTONE/Cinder_Craze_designs.png"
  },
  {
    name: "Concrete Pulse",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/SILESTONE/Concrete_Pulse.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/SILESTONE/Concrete_Pulse_designs.png"
  },
  {
    name: "Gris Expo",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/SILESTONE/Gris_Expo.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/SILESTONE/Gris_Expo_designs.png"
  },
  {
    name: "Lime Delight",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/SILESTONE/Lime_Delight.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/SILESTONE/Lime_Delight_designs.png"
  },
  {
    name: "Miami White",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/SILESTONE/Miami_White.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/SILESTONE/Miami_White_designs.png"
  },
  {
    name: "Noka",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/SILESTONE/Noka.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/SILESTONE/Noka_designs.png"
  },
  {
    name: "Rougui",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/SILESTONE/Rougui.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/SILESTONE/Rougui_designs.png"
  }
];
---

<div class="container mx-auto px-4 py-16">
  <h2 class="text-3xl font-bold text-center mb-12">Neolith</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
    {
      neolithStones.map((stone) => (
        <div class="group relative overflow-hidden rounded-lg shadow-lg">
          <div class="relative h-64 overflow-hidden">
            <img
              src={stone.image}
              alt={stone.name}
              class="w-full h-full object-cover transition-transform duration-300 group-hover:scale-105"
            />
            <img
              src={stone.design}
              alt={`${stone.name} design`}
              class="absolute inset-0 w-full h-full object-cover opacity-0 transition-opacity duration-300 group-hover:opacity-100"
            />
          </div>
          <div class="absolute bottom-0 left-0 right-0 bg-black/70 text-white p-4 transform translate-y-full transition-transform duration-300 group-hover:translate-y-0">
            <h3 class="text-lg font-semibold">{stone.name}</h3>
          </div>
        </div>
      ))
    }
  </div>

  <h2 class="text-3xl font-bold text-center my-12">Altea</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
    {
      alteaStones.map((stone) => (
        <div class="group relative overflow-hidden rounded-lg shadow-lg">
          <div class="relative h-64 overflow-hidden">
            <img
              src={stone.image}
              alt={stone.name}
              class="w-full h-full object-cover transition-transform duration-300 group-hover:scale-105"
            />
            <img
              src={stone.design}
              alt={`${stone.name} design`}
              class="absolute inset-0 w-full h-full object-cover opacity-0 transition-opacity duration-300 group-hover:opacity-100"
            />
          </div>
          <div class="absolute bottom-0 left-0 right-0 bg-black/70 text-white p-4 transform translate-y-full transition-transform duration-300 group-hover:translate-y-0">
            <h3 class="text-lg font-semibold">{stone.name}</h3>
          </div>
        </div>
      ))
    }
  </div>

  <h2 class="text-3xl font-bold text-center my-12">Dekton</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
    {
      dektonStones.map((stone) => (
        <div class="group relative overflow-hidden rounded-lg shadow-lg">
          <div class="relative h-64 overflow-hidden">
            <img
              src={stone.image}
              alt={stone.name}
              class="w-full h-full object-cover transition-transform duration-300 group-hover:scale-105"
            />
            <img
              src={stone.design}
              alt={`${stone.name} design`}
              class="absolute inset-0 w-full h-full object-cover opacity-0 transition-opacity duration-300 group-hover:opacity-100"
            />
          </div>
          <div class="absolute bottom-0 left-0 right-0 bg-black/70 text-white p-4 transform translate-y-full transition-transform duration-300 group-hover:translate-y-0">
            <h3 class="text-lg font-semibold">{stone.name}</h3>
          </div>
        </div>
      ))
    }
  </div>

  <h2 class="text-3xl font-bold text-center my-12">Silestone</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
    {
      silestoneStones.map((stone) => (
        <div class="group relative overflow-hidden rounded-lg shadow-lg">
          <div class="relative h-64 overflow-hidden">
            <img
              src={stone.image}
              alt={stone.name}
              class="w-full h-full object-cover transition-transform duration-300 group-hover:scale-105"
            />
            <img
              src={stone.design}
              alt={`${stone.name} design`}
              class="absolute inset-0 w-full h-full object-cover opacity-0 transition-opacity duration-300 group-hover:opacity-100"
            />
          </div>
          <div class="absolute bottom-0 left-0 right-0 bg-black/70 text-white p-4 transform translate-y-full transition-transform duration-300 group-hover:translate-y-0">
            <h3 class="text-lg font-semibold">{stone.name}</h3>
          </div>
        </div>
      ))
    }
  </div>
</div> 