---
interface Stone {
  name: string;
  image: string;
  design: string;
}

export const neolithStones: Stone[] = [
  {
    name: "Artisan Silk",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/NEOLITH/Artisan_Silk.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/NEOLITH/Artisan_Silk_designs.png"
  },
  {
    name: "Black Obsession Silk",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/NEOLITH/Black_Obsession_Silk.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/NEOLITH/Black_Obsession_Silk_designs.png"
  },
  {
    name: "Rapolano Silk",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/NEOLITH/Rapolano_Silk.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/NEOLITH/Rapolano_Silk_designs.png"
  },
  {
    name: "White Sands Silk",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/NEOLITH/WhiteSands_Silk.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/NEOLITH/WhiteSands_Silk_designs.png"
  }
];

export const alteaStones: Stone[] = [
  {
    name: "Antracita Dark",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/ALTEA/Antracita_Dark.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/ALTEA/Antracita_Dark_designs.png"
  },
  {
    name: "Black Marquina",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/ALTEA/Black_Marquina.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/ALTEA/Black_Marquina_designs.png"
  },
  {
    name: "Calacatta Grey",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/ALTEA/Calacatta_Grey.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/ALTEA/Calacatta_Grey_designs.png"
  },
  {
    name: "Calacatta Royale",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/ALTEA/Calacatta_Royale.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/ALTEA/Calacatta_Royale_designs.png"
  },
  {
    name: "Cement Grey",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/ALTEA/Cement_Grey.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/ALTEA/Cement_Grey_designs.png"
  },
  {
    name: "Laurent Gold",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/ALTEA/Laurent_Gold.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/ALTEA/Laurent_Gold_designs.png"
  },
  {
    name: "Phantom Dark Grey",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/ALTEA/Phantom_Dark_Grey.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/ALTEA/Phantom_Dark_Grey_designs.png"
  },
  {
    name: "Pulpis Grey",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/ALTEA/Pulpis_Grey.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/ALTEA/Pulpis_Grey_designs.png"
  },
  {
    name: "Pure Black",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/ALTEA/Pure_Black.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/ALTEA/Pure_Black_designs.png"
  },
  {
    name: "Pure White",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/ALTEA/Pure_White.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/ALTEA/Pure_White_designs.png"
  },
  {
    name: "Snow River",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/ALTEA/Snow_River.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/ALTEA/Snow_River_designs.png"
  },
  {
    name: "Statuario",
    image: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/ALTEA/Statuario.png",
    design: "https://marmolesdeluxe.s3.us-east-2.amazonaws.com/FOTOS/PIEDRA+SINTERIZADA/ALTEA/Statuario_designs.png"
  }
];
---

<div class="container mx-auto px-4 py-16">
  <h2 class="text-3xl font-bold text-center mb-12">Neolith</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
    {
      neolithStones.map((stone) => (
        <div class="group relative overflow-hidden rounded-lg shadow-lg">
          <div class="relative h-64 overflow-hidden">
            <img
              src={stone.image}
              alt={stone.name}
              class="w-full h-full object-cover transition-transform duration-300 group-hover:scale-105"
            />
            <img
              src={stone.design}
              alt={`${stone.name} design`}
              class="absolute inset-0 w-full h-full object-cover opacity-0 transition-opacity duration-300 group-hover:opacity-100"
            />
          </div>
          <div class="absolute bottom-0 left-0 right-0 bg-black/70 text-white p-4 transform translate-y-full transition-transform duration-300 group-hover:translate-y-0">
            <h3 class="text-lg font-semibold">{stone.name}</h3>
          </div>
        </div>
      ))
    }
  </div>

  <h2 class="text-3xl font-bold text-center my-12">Altea</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
    {
      alteaStones.map((stone) => (
        <div class="group relative overflow-hidden rounded-lg shadow-lg">
          <div class="relative h-64 overflow-hidden">
            <img
              src={stone.image}
              alt={stone.name}
              class="w-full h-full object-cover transition-transform duration-300 group-hover:scale-105"
            />
            <img
              src={stone.design}
              alt={`${stone.name} design`}
              class="absolute inset-0 w-full h-full object-cover opacity-0 transition-opacity duration-300 group-hover:opacity-100"
            />
          </div>
          <div class="absolute bottom-0 left-0 right-0 bg-black/70 text-white p-4 transform translate-y-full transition-transform duration-300 group-hover:translate-y-0">
            <h3 class="text-lg font-semibold">{stone.name}</h3>
          </div>
        </div>
      ))
    }
  </div>
</div> 